.tileBG {
  width: 75px;
  height: 75px;
  border: 2px solid black;
}

.hovered_true {
  border-color:rgb(253, 90, 31);
  border-width: 5px;
}

.movementMode_true {
  border-color:lime;
}

.actionMode_true {
  border-color:chartreuse;
}

.normal {
  background-color: #bbb;
}

.difficult {
  background-color: #777;
}

.water {
  background-color: aqua;
}

.impassable {
  background-color: #000;
}

.flyOnly {
  background-color: brown;
}

.charToken {
  width: 50px;
  height: 50px;
  border-width: 0;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.current-true {
border: 5px black solid;
}

.canMove-true {
  background-color:darkorchid;
}