<div class="background">
  <h1>
    <img
      src="https://jaretcrist.github.io/assets/Dungeons-and-Dragons-logo.png"
      class="small-img"
    />
    Battle Simulator
  </h1>

  <h3 class="mb-5">Welcome to the DnD 5th Edition Battle Simulator!</h3>
  <div class="row">
    <div class="col ms-3 left">
      <h5 class="ms-3">Controls:</h5>
      <ul>
        <li>Cursor Controls: WASD or Arrow Keys</li>
        <li>Confirm / Select: Enter</li>
        <li>Cancel: Backspace</li>
        <li>Menu Navigation: Tab or Click</li>
        <li>Full mouse controls: Now Available!</li>
      </ul>
    </div>

    <div class="col left">
      <h5 class="ms-3">Color Meanings:</h5>
      <ul>
        <li>Black outline around token: current character</li>
        <li>Purple square: space within movement reach</li>
        <li>Orange box outline: default cursor</li>
        <li>Green box outline: movement cursor</li>
        <li>Yellow box outline: attack cursor</li>
      </ul>
    </div>
  </div>

  <button class="mb-3" (click)="this.beginGame()">Begin Your Quest</button>
</div>
