<div class="background">
  <h1>
    <img src="../../assets/Dungeons-and-Dragons-logo.png" class="small-img" />
    Battle Simulator
  </h1>

  <h3>Welcome to the DnD 5th Edition Battle Simulator!</h3>
  <div class="ms-3 left">
    <h5 class="ms-3">Controls:</h5>
    <ul>
      <li>W or Up : Move Cursor Up</li>
      <li>A or Left : Move Cursor Left</li>
      <li>S or Down : Move Cursor Down</li>
      <li>D or Right : Move Cursor Right</li>
      <li>E, V, O, or Enter : Confirm / Select</li>
      <li>R, C, P, Backspace : Cancel</li>
      <li>Mouse controls coming in later update!</li>
    </ul>
  </div>

  <button (click)="this.beginGame()">Begin Your Quest</button>
</div>
